.zoom-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoom-img-wrapper {
  transform-origin: center;
  will-change: transform;
  transition: transform 0.05s ease-out;
}
