.selector-modal {
  --border-radius: 8px;
  --width: 325px;
  --height: 434px;
  --border-style: solid;
  --border-color: rgba(0, 0, 0, 0.25);
  --border-width: 1px;
}
cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}
 
