<ion-toolbar class="background-new-form-toolbar">
  <h3 class="px-3" slot="start">Nouveau topo</h3>
</ion-toolbar>

<ion-grid class="background-new-form-color">
  <ng-container
    *ngIf="this.w.data().objects.secteur.all && this.w.data().objects.secteur.all?.list?.length > 0 else noSector">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-list>
          <app-castor-object-selector
            [disabled]="!!sectorUuid"
            [list]="this.w.data().objects.secteur.all.list"
            [(selection)]="this.selected_secteur"
            [placeholder]="'Sélection du Secteur*'"
          ></app-castor-object-selector>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
          <app-castor-type-selector
            [title]="'Type'"
            [showTitle]="true"
            [category]="ApiTypeCategory.TOPO_TYPE"
            [(value)]="this.selectedTopoType"
          ></app-castor-type-selector>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="this.tagSystemFait">
      <ion-col size="12" size-md="6">
        <ion-list>
          <app-castor-object-selector
            [disabled]="!!this.faitUuid"
            [list]="this.w.data().objects.fait.all.list"
            [(selection)]="this.selected_fait"
            [placeholder]="'Sélection du Fait'"
          ></app-castor-object-selector>
        </ion-list>
      </ion-col>
    </ion-row>

    <ng-content></ng-content>

    <app-valid-cancel-grouped-btn
      [disableCancelBtn]="creating"
      [disableValidBtn]="creating || !this.isValidNewTopoForm()"
      (validCallBackBtn)="this.createNewTopo()"
      (cancelCallbackBtn)="this.onCancelBtnClicked.emit($event)"></app-valid-cancel-grouped-btn>
    <ion-progress-bar *ngIf="creating" type="indeterminate"></ion-progress-bar>
    {{this.error}}

  </ng-container>
</ion-grid>

<ng-template #noSector>
  <ion-row>
    <ion-col size="12">
      <h3 class="text-center">Créer un secteur pour pouvoir ajouter un topo</h3><br/>
    </ion-col>
  </ion-row>
</ng-template>
