table .btn{
  margin: 2px;
}

.border{
  padding: 10px;
}
/*.btn{
  margin-right: 10px;
}*/
.bi {
  margin-right: 4px;
}

.cursor{
  cursor: default;
}

.table-hover tbody tr:hover td {
  background: #DEDCDC;
}
