<ion-content>
  <ion-row class="ion-justify-content-center">
      <ion-col size="auto" class="align-self-center">
        <div class="text-center pb-4">
          <img style="height: 70px; width: 70px" src="assets/castorIcons/castor-logo-icon.svg">
        </div>
        <p class="text-center my-2 fw-bold">
          Bienvenue dans
          <sup class="small">ODS</sup> <span>Castor</span></p>
        <app-authentication-button>
          <ion-row *ngIf="this.w.data()?.user">
            <ion-col>
              <ion-button expand="block" (click)="this.goToProjectsPage()">Projets</ion-button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="this.w.data()?.user">
            <ion-col>
              <ion-button expand="block" (click)="this.goToProfileConfig()">Profil</ion-button>
            </ion-col>
          </ion-row>
        </app-authentication-button>
        <div class="text-center my-5">
          <p class="small">Développé par<p>
          <img style="height: 70px" src="assets/images/9HP_Logo.png">
        </div>
      </ion-col>
  </ion-row>

<!--  <ion-row *ngIf="this.w.data()?.user" class="ion-justify-content-center">
    <ion-col size="auto">
      <ion-button (click)="this.goToParams()">Parametres</ion-button>
    </ion-col>
  </ion-row>-->
</ion-content>
