<ion-row *ngIf="this.mobilier" class="h-100">
  <ion-col size="auto" class="my-auto tag-label" [ngStyle]="{'background-color' : '#76B99C'}">
    <app-castor-tag-display [object]="this.mobilier"></app-castor-tag-display>
  </ion-col>
  <ion-col *ngIf="this.mobilier?.echantillon_label">
    <ion-label>Label  : {{ this.mobilier.echantillon_label }} </ion-label>
  </ion-col>
  <ion-col *ngIf="this.mobilier?.us_uuid">
    <ion-label>Us uuid : {{ this.mobilier?.us_uuid ?? '-'}}</ion-label>
  </ion-col>
</ion-row>
