<ion-accordion-group>
  <ion-accordion>
    <ion-item slot="header">
      <ion-label>Image photo</ion-label>
    </ion-item>
    <ion-row slot="content" class="background-form-color">
      <ion-col size="auto">
        <app-castor-file-input
          [(file_uuid)]="this.document.document_file_uuid"
          (file_uuidChange)="onChangeForm()"
        ></app-castor-file-input>
      </ion-col>
      <ion-col size="auto">
        <app-castor-file-display
          [file_uuid]="document.document_file_uuid"
        ></app-castor-file-display>
      </ion-col>
    </ion-row>
  </ion-accordion>
  <ion-accordion>
    <ion-item slot="header">
      <ion-label>Description</ion-label>
    </ion-item>
    <ion-row slot="content" class="background-form-color">
      <ion-col size="12" size-md="6">
        <ion-row>
          <ion-col size="12">
            <app-castor-type-selector
            [title]="'Type'"
            [showTitle]="true"
            [category]="ApiTypeCategory.PHOTO_TYPE"
            [(value)]="this.photo.photo_type_uuid"
            (valueChange)="onChangeForm()"
            ></app-castor-type-selector>
          </ion-col>
          <ion-col size="12">
            <app-castor-type-selector
              [title]="'Vue vers'"
              [showTitle]="true"
              [category]="ApiTypeCategory.PHOTO_VUE"
              [(value)]="this.photo.photo_vue_vers"
              (valueChange)="onChangeForm()"
            ></app-castor-type-selector>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label>Avec plaque</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="this.photo.photo_plaque"
                            (ngModelChange)="onChangeForm()"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="full">
              <ion-label position="floating">Remarques</ion-label>
              <ion-textarea type="text" [autoGrow]="true"
                            [(ngModel)]="this.photo.document_remarques"
                            (ngModelChange)="onChangeForm()"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="d-md-none d-block">
        <mat-divider></mat-divider>
      </ion-col>
      <ion-col size="12" size-md="6">
        <!--Fiche-->
        <app-fiche-form
          [object]="photo"
        ></app-fiche-form>
      </ion-col>
    </ion-row>
  </ion-accordion>
</ion-accordion-group>


