<ng-container *ngIf="relations[0]?.us?.info?.ref_table === isReference">

  <app-castor-link-document-table-display [documents]="this.arrayDoc"></app-castor-link-document-table-display>

</ng-container>

<ng-container *ngIf="relations[0].document?.info?.ref_table === isReference">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Tag</th>

      <ng-container *ngIf="relations[0]?.document?.info?.obj_table === ApiDbTable.document_minute">
        <th scope="col">Type</th>
        <th scope="col">Echelle</th>
        <th scope="col">Remarques</th>
      </ng-container>

      <ng-container *ngIf="relations[0]?.document?.info?.obj_table === ApiDbTable.document_photo">
        <th scope="col">N° Fait</th>
        <th scope="col">Type</th>
        <th scope="col">Remarque</th>
      </ng-container>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rel of relations">

      <th scope="row">{{rel.us.item.tag}}</th>
      <ng-container *ngIf="rel?.document?.info?.obj_table === ApiDbTable.document_minute">
        <td>{{rel?.document?.item?.document_type }}</td>
        <td>{{rel?.document?.item['minute_echelle'] }}</td>
        <td>{{rel?.document?.item?.document_remarques}}</td>
      </ng-container>
      <ng-container *ngIf="rel?.document?.info?.obj_table === ApiDbTable.document_photo">
        <td>{{rel?.us?.item?.fait_uuid }}</td>
        <td>{{rel?.us?.item?.table }}</td>
      </ng-container>

    </tr>
    </tbody>
  </table>

</ng-container>
