<div
  *ngIf="isOpen"
  class="panel-backdrop"
  [class.show-backdrop]="showBackdrop"
  [class.allow-interactions]="allowBackgroundInteractions"
  (click)="onBackdropClick($event)"
  [@backdropAnimation]>

  <div
    class="floating-panel"
    [ngClass]="getPanelClass()"
    [style.width]="width"
    [style.max-width]="maxWidth"
    [@panelAnimation]
    (click)="$event.stopPropagation()">

    <!-- Header -->
    <div class="panel-header">
      <h2 class="panel-title">{{ title }}</h2>
      <ion-button
        fill="clear"
        size="small"
        (click)="close()"
        class="close-button">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>

    <!-- Content -->
    <div class="panel-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
