.table-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.table-header {
  flex-shrink: 0;
  width: 100%;
}

.table-td-max-width {
  td {
    max-width: 200px;
    white-space: nowrap;
    overflow: auto;
  }
}

.td-sector-style {
  width: 100px;
}

cdk-virtual-scroll-viewport {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.fixed-table-header {
  background-color: white;
  z-index: 10;
}

