<table class="table table-striped table-borderless" *ngIf="this.sectionList?.length > 0 else noSectionLink">
  <thead class="fixed-table-header">
  <tr>
    <th scope="col">Tag</th>
    <th scope="col">Type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let section of this.sectionList">
    <th scope="row">{{ section?.tag }}</th>
    <td>{{section?.section_type }}</td>
  </tr>
  </tbody>
</table>

<ng-template #noSectionLink>
  <ion-row>
    <ion-col size="12">
      <h3 class="text-center">Aucun lien de Section</h3><br/>
    </ion-col>
  </ion-row>
</ng-template>
