
<!-- TODO: LINK SECTEUR/GPS -->
<!--
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Tag</th>
    &lt;!&ndash;    <th scope="col">Type de lien</th>
        <th scope="col">Draft</th>&ndash;&gt;
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let rel of relations">
    <ng-container [ngSwitch]="isReference">
      <ng-container *ngSwitchCase="rel.secteur.info.ref_table">
        <th scope="row">{{rel.gps.item.}}</th>
      </ng-container>
      <ng-container *ngSwitchCase="rel.gps.info.ref_table">
        <th scope="row">{{rel.secteur.item.tag}}</th>
      </ng-container>
    </ng-container>
    &lt;!&ndash;    <td>{{link?.relation?.item?.table }}</td>
        <td>{{link?.relation?.item?.draft ? 'Brouillon' : 'Sauvegardé'}}</td>&ndash;&gt;
  </tr>
  </tbody>
</table>
-->
