<ion-list>
  <app-castor-object-selector
    [disabled]="!this.enabled"
    [list]="this.usArray"
    [(selection)]="this.selectedUs"
    (selectionChange)="onNewUsSelected($event)"
    [placeholder]="'US'"
  >
    <ion-button [fill]="'clear'"  *ngIf="DisplaySuffix" matSuffix aria-label="Enable"
                click-stop-propagation
                [disabled]="disableSuffix"
                (click)="toggleEnabled($event)">
      <ion-icon name="checkbox-outline" *ngIf="!this.enabled"></ion-icon>
      <ion-icon name="square-outline" *ngIf="this.enabled"></ion-icon>
    </ion-button>
  </app-castor-object-selector>
</ion-list>

