<div id="container">
  <header>
    <!-- Title header -->
    <ion-row class="ion-justify-content-between list-header-toolbar">
      <ion-col size="auto">
        <h3 class="my-2">MOBILIERS ({{ this.w.data().objects?.echantillon?.all?.childList(ApiDbTable.echantillon_mobilier)?.length ?? '0' }})</h3>
      </ion-col>
      <ion-col size="auto">
        <ion-row>
          <ion-col>
            <ion-button [fill]="'clear'" (click)="this.goToCreateMobilier()">
              <mat-icon svgIcon="castorAddNewIcon" class="material-icon-custom-size-create"></mat-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>
  </header>
  <main>
    <section>
      <app-castor-items-list  *ngIf="this.w.data().objects.echantillon.all?.list?.length > 0 else noMobilier"
                              [list]="this.w.data().objects.echantillon.all.list"
                              [filterChild]="ApiDbTable.echantillon_mobilier"
                              (detailsCallBack)="this.goToMobilierDetails($event)"
                              (btnDeleteCallback)="this.markAsDelete($event)">
      </app-castor-items-list>
    </section>
  </main>
</div>

<ng-template #noMobilier>
  <ion-row class="ion-justify-content-center">
    <ion-col size="auto">
      <h3>Ce projet ne contient pas de mobilier</h3><br />
    </ion-col>
  </ion-row>
</ng-template>
